.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 1rem;
}

.range-background {
    width: 20rem;
    overflow: hidden;
    appearance: none;
    -webkit-appearance: none;
    background: linear-gradient(
        90deg,
        #ff0000 0%,
        #ff0000 32%,
        #fd4400 32%,
        #fd4400 34%,
        #b5c700 34%,
        #b5c700 37%,
        #00ff0c 37%,
        #00ff0c 49.9%,
        #b5c700 50%,
        #b5c700 59.9%,
        #df9b00 60%,
        #df9b00 69.9%,
        #fd4400 70%,
        #fd4400 79.9%,
        #ff0000 80%,
        #ff0000 100%
    );
}

.range-background::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 5px;
    background-color: #7289da;
    box-shadow: 0 0 4px #000;
}
